<main class="page__main"></main>

<div class="general">
    <div class="all_minus_counter">
        <h1>Adivina el número</h1>
        <div>
            <h2>Introduce aquí tu número</h2>
            <input class="input" type="number" id="input">
        </div>
        <button class="btn">Prueba</button>
        <div class="feedback">Escribe un número y dale a <span class="attempt">Prueba</span></div>
    </div>
    <div class="counter_and_popup">
        <div class="counter"></div>
        <div class="popup hidden">Por favor, introduce un número</div>
    </div>
</div>